.btn {
  background-color: #33bbff;
  font-size: 1.2em;
  color: #111;
  padding: 1em 1.5em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border: solid;
}

.btn:hover {
  color: #fff;
}