.newwork_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
  }
  
.newwork_container h1 {
  text-align: center;
  margin-bottom: 0.5em;
}

.newwork_container h1 span {
  color: #33bbff;
  padding: 0.2em;
  background-color: #222;
}